td, body {color:#000000; background-color: #3399FF; font-family:Arial, Helvetica, sans-serif; font-size:10px;}
a {color:#006699; text-decoration:none; font-weight:bold;}
a:hover {color:#000000; text-decoration:none; font-weight:bold;}
a:active {color:#000000; text-decoration:none; font-weight:bold ;}